---
import Layout from "../layouts/Layout.astro";
import Bio from "../content/bio.md";
import { Image } from "astro:assets";
import portraitImg from "../assets/portrait.jpg";
import Button from "../components/Button.astro";
---

<Layout>
  <main
    class="container px-3 max-w-6xl mx-auto pb-12 md:py-12 xl:py-16 grid gap-12 md:grid-cols-[2fr_3fr]"
  >
    <Image
      alt="Portrait of Catherine Campbell smiling"
      src={portraitImg}
      priority
      quality={100}
      class="rounded-xl shadow-lg shadow-stone-200 dark:shadow-stone-900"
    />
    <article
      class="prose prose-lg prose-stone dark:prose-invert prose-a:font-normal prose-a:text-sky-600 prose-h1:font-extralight"
    >
      <Bio />
      <div class="not-prose flex flex-wrap items-center gap-4">
        <Button href="mailto:catherine.campbell617@gmail.com">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
            aria-hidden
          >
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
            ></path>
          </svg>
          Email me
        </Button>
        <Button href="https://campuspress.yale.edu/catherinecampbell/">
          M.Div. Portfolio
        </Button>
        (she/her)
      </div>
    </article>
  </main>
</Layout>
